*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    
}
body{
    background: gray;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgb(50, 4, 110);
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo{
    width: 50px;
    margin-right: 45px;
}

nav-left, .nav-right{
    display: flex;
    align-items: center;
}
nav-left ul li{
    display: inline-block;
    list-style: none;
}
nav-left ul li img{
    width: 28px;
    margin: 0 15px;
}

.nav-user-icon img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.nav-user-icon{
    margin-left: 30px;
}

.search-box{
    background: white;
    width:350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.search-box img{
    width: 20px;
}

.search-box input{
    border: 0;
    background: transparent;
    width: 100%;
    padding: 10px;
    outline: none;
}

.online{
    position: relative;
}

.online::after{
    content: '';
    width: 10px;
    height: 10px;
    background: green;
    border-radius: 50%;
    top: 0;
    right: 0;
    border: 2px solid white;
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
    position: center;
}

.left-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    background:white;
    border-radius: 8px;
    padding: 20px;
    color: black;
    
}

.right-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    background: white;
    padding: 20px;
    border-radius: 8px;
    color: black;
    width:auto;
}

.main-content{
    flex-basis: 47%;
    padding: 20px;
    position: center;
}

.imp-links a, .shortcuts-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: black;
    width: fit-content;
    
}

.imp-links a img{
    width: 25px;
    margin-right: 15px;
}

.imp-links{
    border-bottom: 1px solid black;

}

.shortcuts-links a img{
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}

.shortcuts-links p{
    color: black;
    margin: 15px 0;
    font-weight: 500;
}

.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

.sidebar-title h3{
    font-weight: 600;
    font-size: 16px;

}
.sidebar-title a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.event{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}

.left-event{
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.event p{
    font-size: 12px;
}

.event a { 
    font-size: 12px;
    text-decoration: none;
    color: rgb(248, 250, 250);
}

.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background:  rgb(48, 4, 59);
    color: white;
    font-size: 10px;
    padding: 4px 0;
   
}
.sidebar-ads{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 8px;
}

.story-gallery{
     display: flex;
     justify-content: space-between;
     margin-bottom: 20px;
}
.story{
    flex-basis: 18%;
    padding-top: 32%;
    
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.story img{
    position: absolute;
    width: 25px;
    border-radius: 65%;
    top: 10px;
    left: 10px;
    border: 2px solid white;

}
.story p{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: 500;
}
.story1{
    background-image: linear-gradient(transparent, rgba(77, 238, 250, 0.5)), url(images/status-1.png);
}
.story2{
    background-image: linear-gradient(transparent, rgba(77, 238, 250, 0.5)), url(images/status-2.png);
}
.story3{
    background-image: linear-gradient(transparent, rgba(77, 238, 250, 0.5)), url(images/status-4.png);
}
.story4{
    background-image: linear-gradient(transparent, rgba(77, 238, 250, 0.5)), url(images/status-3.png);
}
.story5{
    background-image: linear-gradient(transparent, rgba(77, 238, 250, 0.5)), url(images/status-5.png);
}

.story.story1 img{
    top: unset;
    left: 50%;
    bottom:40px;
    transform: translateX(-50%);
    width: 35px;
}

.write-post-container{
    width: 100%;
    background: white;
    border-radius: 8px;
    padding: 15px;
    columns: #626262;
}

.user-profile{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 15px;
}

.user-profile p{
    margin-bottom: -5px;
    font-weight: 500;
    color: black;

}

.user-profile small{
    font-size: 12px;


}

.post-input-container{
    padding-left: 55px;
    padding-top: 20px;
}

.post-input-container textarea{
    width:100%;
    border:0;
    outline:0;
    border-bottom: 1px solid black;
    background: gray;
    resize: none;

}
.add-post-link{
    display:flex;
    margin-top: 10px;
}
.add-post-link a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    margin-right: 25px;
    font-size: 10px;
}

.add-post-link a img{
    width: 20px;
    margin-right: 15px;

}

.post-container{
    width: 100%;
    background: #626262;
    border-radius: 6px;
    padding: 20px;
    color: black;
    margin:20px;
}

.user-profile span{
    font-size: 13px;
    color: gray;

}

.post-text{
    color: #9a9a99;
    margin: 15px 0;
    font-size: 15px;
}

.post-text span{
    color: purple;
    font-weight: 500;
}

.post-text a{
    color: #1876f2;
    text-decoration: none;
}
.post-img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}

.post-row{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.activity-icons div img{
    width: 18px;
    margin-right: 10px;

}
.activity-icons div{
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}

.footer{
    text-align: center;
    color: black;
    padding: 10px 0 20px;
    font-size: 13px;
}

